<div class="help-page">
	<h3>Help</h3>
	<p>
	To use oauthd, you need to configure one or several apps, which represent your real world app. You will be able to add
	and configure various providers, and set the app mode so that you can call the authentication and requests endpoints to use the providers' APIs.
	</p>
	<h4>Using oauthd in a client app</h4>
	<p>
	You can either directly use the HTTP API, described <a href="https://github.com/oauth-io/oauthd/wiki/API">here</a>, or use one of the SDKs:
	</p>
	<h5>Front-end SDKs</h5>
	<ul>
		<li><a href="https://github.com/oauth-io/oauth-js">JavaScript SDK</a></li>
		<li><a href="https://github.com/oauth-io/oauth-phonegap">Phonegap SDK</a></li>
		<li><a href="https://github.com/oauth-io/oauth-ios">iOS SDK</a></li>
		<li><a href="https://github.com/oauth-io/oauth-android">Android SDK</a></li>
	</ul>

	<h5>Back-end SDKs</h5>
	<ul>
		<li><a href="https://github.com/oauth-io/sdk-node">NodeJs SDK</a></li>
		<li><a href="https://github.com/oauth-io/sdk-php">PHP SDK</a></li>
		<li><a href="https://github.com/oauth-io/sdk-go">Go SDK</a></li>
	</ul>
	<p>
	When using these SDKs, you'll have to specify that you're using your own oauthd instance. For example in JavaScript:
	</p>
	<pre>OAuth.setOAuthdURL('{{ config.host_url }}')</pre>

	<p>
		For more information about oauthd, please check out our <a href="https://github.com/oauth-io/oauthd/wiki">WIKI</a> and
		<a href="https://github.com/oauth-io/oauthd">github repository</a>
	</p>
</div>