<div class="home-page">
    <div class="apps_container col-md-5">
        <h3>Your apps</h3>
        <div>
            <div class="spinner-round loadingAppsSpinner" ng-show="loadingApps">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div ng-show="!loadingApps">
    	    <div class="usage">You have <strong>{{ apps.length }} app<span ng-show="apps.length > 1">s</span></strong>, and use <strong>{{ providers | count }} provider<span ng-show="count(providers) > 1">s</span></strong>.
    	        <br>
    	        <a ui-sref="dashboard.apps.all">Access your app list</a>
    	    </div>
        </div>
    </div>
    <div class="plugins_container col-md-5">
        <h3>Plugins</h3>
        You have {{plugins.length || 0}} plugins installed : 
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Version</th>
                <th>Expose Front</th>
            </tr>
            <tr ng-repeat="plugin in plugins">
                <td>{{plugin.name}}</td>
                <td>{{plugin.description}}</td>
                <td>{{plugin.version}}</td>
                <td><span ng-show="plugin.interface_enabled">Yes</span><span ng-show="!plugin.interface_enabled">No</span></td>
            </tr>
        </table>
    </div>
</div>